{% extends "header.html" %}
{% block content %}

<div class="bold_title">Discover People</div>

{% for p in not_following or [] %}
<div class="user_summary">
    <div class="poster_image">
        <a href="/users/{{p.username}}/">
            <img src="{{p.user_img_url}}" alt="image not found.">
        </a>
    </div>
    <div class="user_name">
        <a href="/users/{{p.username}}/">
            {{p.username}}
        </a>
        <form action="/following/?target=/explore/" method="post" enctype="multipart/form-data">
            <input type="submit" name="follow" value="follow"/>
            <input type="hidden" name="username" value="{{p.username}}"/>
            <input type="hidden" name="operation" value="follow"/>
        </form>
    </div>
</div>
{% endfor %}

{% endblock %}
