<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>insta485</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>

<body>
    <div class="header">
        <span class="header_icon">
            <a href="{{url_for('show_index')}}">
                <img src="/static/images/logo.png" alt="img not found">
            </a>
        </span>

        
        <span class="header_link">
            <a href="{{url_for('show_explore')}}">
                explore
            </a>
        </span>
        <span class="header_break">|</span>
        <span class="header_link">
            <a href="{{url_for('show_user',user_url_slug=logname)}}">
                
            </a>
        </span>
        <span class="header_link">
            <a href="{{url_for('show_login')}}">
                login
            </a>
        </span>
    </div>

    {% block content %}

    {% endblock %}
</body>

</html>
