{% extends "header.html" %}
{% block content %}

<div class="post">
    <div class="post_info">
        <div class="poster_image">
            <a href="/users/{{owner}}/">
                <img src="{{owner_img_url}}" alt="image not found.">
            </a>
        </div>
        <div class="user_name">
            <a href="/users/{{owner}}/">
                {{owner}}
            </a>
        </div>
        <div class="poster_time">
            <a href="/posts/{{postid}}/">
                {{timestamp}}
            </a>
        </div>
    </div>

    <div class="post_image">
        <a href="/posts/{{postid}}/">
            <img src="{{img_url}}" alt="image not found.">
        </a>
    </div>

    <div class="post_reply">
        {% if likes|int == 1 %}
        <p>1 like</p>
        {% else %}
        <p>{{likes}} likes</p>
        {% endif %}
        {% for comment in comments or [] %}
        <p>
            <span class="user_name">
                <a href="/users/{{comment.owner}}/">
                    {{comment.owner}}
                </a>
            </span>
            {{comment.text}}
        </p>
        {% if comment["owner"] == logname %}
        <form action="/comments/?target=/posts/{{postid}}/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="delete" />
            <input type="hidden" name="commentid" value="{{comment.commentid}}" />
            <input type="submit" name="uncomment" value="delete" />
        </form>
        {% endif %}
        {% endfor %}
        {% if like|int > 0 %}
        <form action="/likes/?target=/posts/{{postid}}/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="unlike" />
            <input type="hidden" name="postid" value="{{postid}}" />
            <input type="submit" name="unlike" value="unlike" />
        </form>
        {% else %}
        <form action="/likes/?target=/posts/{{postid}}/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="like" />
            <input type="hidden" name="postid" value="{{postid}}" />
            <input type="submit" name="like" value="like" />
        </form>
        {% endif %}
        <form action="/comments/?target=/posts/{{postid}}/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="create" />
            <input type="hidden" name="postid" value="{{postid}}" />
            <input type="text" name="text" required />
            <input type="submit" name="comment" value="comment" />
        </form>
    </div>
    <div>
        {% if owner == logname %}
        <form action="/posts/?target=/users/{{owner}}/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="delete" />
            <input type="hidden" name="postid" value="{{postid}}" />
            <input type="submit" name="delete" value="delete this post" />
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}